  .result{
      display: block;
      background-color: #a0c88c;
      height: auto;
      /* float: left; */
      /* width: 900px; */
      /*  margin: 100px 50px 50px 50px; */
      padding: 20px 20px 20px 20px;
      border-radius: 5px;
      overflow: hidden;
  }
  .tweet_container{
    display: block;
    background-color: #bbb;
    height: 400px;
   /*  float: left; */
    margin: 100px 50px 50px 50px;
    /* padding: 20px 20px 20px 20px; */
    border-radius: 5px;
    width: 265px;
    overflow: scroll;
  }
  .tweet_header{
    display: block;
    background-color:sandybrown;
    border-bottom: 2px solid saddlebrown;
    width: 100%;
    padding : 20px 0px 10px 0px;
    text-align: center;
    font-family: cursive;
  }
  .tweet_block{
    padding: 20px 20px 20px 20px;
  }

  /* ul styles */ 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   /*  background-color: #333; */
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    /* background-color: #4CAF50; */
  }
  
  /* ul styles ends*/ 

  /*Navigation sections */ 
  .Header{
    background-color:#c12a2a;
    width: 74%;
    float: left;
  }
  .header_wrap ::after{
    clear: both;
  }
  .logo{
    float: left;
    width : 13%;
  }
  .right_header{
    float: left;
    color: #fffeff;
    background-color:#f45c42;
    width: 13%;
    min-height: 49px;
    line-height: 49px;
    font-size: 38px;
  }
  
  .left-nav{
    float: left;
    width: 13%;
    background-color: darkgrey;
    height: 600px;
  }
  .left-nav li {
    float: none;
    padding: 5px;
    border: 1px solid #f2f2f2;
  }
  .right-nav{
    float: left;
    width: 13%;
    background-color: darkgrey;
    height: 600px;
  }
  .content{
    float: left;
    width:74%
  }
  .footer{
    position: fixed;
    width: 100%;
    background-color: #1f1d1c;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    bottom :0;
  }
  /*Navigation sections ends*/
 
  /* Table styles */ 
  .table{
    width: 100%;
    border-collapse: collapse;
  }
  .table th{
    padding : 12px 0px 12px 0px;
    text-align: center;
    color: white;
    background-color: #4CAF50;
    border:1px solid #ddd;
  }
  .table td{
    padding: 8px;
    text-align: left;
    border:1px solid #ddd;
  }
  .table tr:hover{
    background-color: #ddd;
  }
  .table tr:nth-child(even){
    background-color: #f2f2f2
  }
/* Table styles ends*/ 

/* Form table styles*/
.form table{
  height: 300px;
  padding : 20px;
}
.form input[type=text]{
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
}
.form input[type=submit]{
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  padding: 14px 20px;
  width: 200px;
  cursor: pointer;
  border:none;
}
 
.error{
  display: block;
  background-color: tomato;
}

/* Drop down menu css */
.dropdown {
  float: left;
  overflow: hidden;
  width:100%;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
} */

.dropdown-content {
  display: none;
  /* position: absolute; */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(167, 72, 72, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
/*   padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: left;
  height: 30px;
  width: 100%;
  margin-left: 50px;
}

/* .dropdown-content a:hover {
  background-color: #ddd;
} */

.dropdown:hover .dropdown-content {
  display: block;
}

.fa-caret-down{
  margin-left : 5px
}